.subHeading {
  max-width: 50ch;
  margin: 1.5rem auto;
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;
  .anchorHash {
    opacity: 0;
  }
  &:hover {
    .anchorHash {
      opacity: 0.3;
    }
  }
}

.propHeading {
  margin: 1.5rem auto;
  display: block;
  cursor: pointer;
  font-size: 1rem;
  max-width: 70ch;
  text-align: left;
  word-break: break-word;

  & > h3 {
    font-size: 1rem;
    display: inline;
    font-weight: 400;
  }
  .type {
    line-height: 2rem;
    vertical-align: middle;
    font-family: var(--codefont);
    font-size: 1rem;
  }
  .anchorHash {
    opacity: 0;
  }
  &:hover {
    .anchorHash {
      opacity: 0.3;
    }
  }
}
.propHeadingTitle {
  border-radius: 0.5rem;
  padding: 0 0.4rem;
  background-color: var(--menu-bg);
  width: fit-content;
}
.subHeading2 {
  max-width: 50ch;
  margin: 1.5rem auto;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: left;
  cursor: pointer;

  .anchorHash {
    opacity: 0;
  }
  &:hover {
    .anchorHash {
      opacity: 0.3;
    }
  }
}
.anchor {
  display: block;
  position: relative;
  top: -10rem;
  visibility: hidden;
}
