.codeContainer {
  padding: 0.8rem;
  background-color: var(--code);
  overflow: auto;
  border-radius: 1rem;
  max-width: 60ch;
  margin: 2rem auto;
  // width: 100%;
}
.code {
  font-family: var(--codefont) !important;
  background-color: var(--code) !important;
  padding: 0.5rem !important;
  overflow: auto;
  text-align: left;
  word-break: break-word;
  // color: var(--code-color);
  // white-space: normal;
  &:focus {
    outline: none;
  }
}
.codeTitle {
  font-size: 0.6rem;
  text-align: right;
  color: var(--light-d);
  button {
    color: var(--light-d) !important;
  }
}
