@use './theme' as t;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&family=Poppins:wght@200;300;400;500;600&display=swap');

* {
  box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--darker-popup-color);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
html {
  --mainfont: 'Poppins';
  --herofont: 'Nunito';

  --danger: #ff7276;
  --warning: #fffaa0;
  --danger-hover: #d05f63;
  --tertiary: #6ec2f7;
  --tertiary-hover: #3eaef4;
  --btn-hover: #2dbd94;
  --btn-gradient: linear-gradient(145deg, #1fb88d, #24daa8);
  --secondary-btn-hover: #22cc9d;
  --hover-shadow: 0px 0px 0px 4px #22cc9d;
  --menu-active: var(--theme);
  --btn-color: #333333;
  --secondary-btn-color: var(--theme);
  --purple: #a685ff;
  --brown: #c69100;
  --brick: #d95c2c;
  --teal: #008c79;
  --mainfont-color-fixed: #dddddd;
  --svg-grey-fixed: brightness(0) saturate(100%) invert(20%) sepia(6%)
    saturate(0%) hue-rotate(143deg) brightness(97%) contrast(99%);
}
html.light {
  --theme: #7adc7a;
  --background: #ffffff;
  --darker-popup-color: #bebebe;
  --menu-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
  --theme-lighter: #22cc9d;
  --theme-light: #22cc9d;
  --secondary-btn-bg: #eeeeee;
  --mainfont-color: #333333;
  --btn-neumo-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  --input-box: #eeeeee;
  --input-box-hover: #dddddd;
  --popup-color: #eeeeee;
  --tooltip-color: #555555;
  --tooltip-font-color: var(--background);
  --box-color: #eeeeee;
  --menu-hover: #eeeeee;
  --svg-grey: brightness(0) saturate(100%) invert(20%) sepia(6%) saturate(0%)
    hue-rotate(143deg) brightness(97%) contrast(99%);
  --svg-light-grey-inverse: brightness(0) saturate(100%) invert(56%) sepia(0%)
    saturate(1117%) hue-rotate(175deg) brightness(111%) contrast(83%);
  --svg-black: brightness(0) saturate(100%);
  --svg-contrast: brightness(0%) saturate(100%);
  --svg-grey-inverse: brightness(0) saturate(100%) invert(98%) sepia(1%)
    saturate(0%) hue-rotate(165deg) brightness(94%) contrast(88%);
  --svg-font: brightness(0) saturate(100%) invert(20%) sepia(6%) saturate(0%)
    hue-rotate(143deg) brightness(97%) contrast(99%);
  --svg-font-contrast: invert(100%) sepia(0%) saturate(5486%) hue-rotate(299deg)
    brightness(121%) contrast(73%);
  --svg-white: brightness(100%) saturate(0%);
  --svg-theme: brightness(0) saturate(100%) invert(56%) sepia(100%)
    saturate(366%) hue-rotate(113deg) brightness(99%) contrast(81%);
  --backdrop-bg: #00000044;
  ::selection {
    background: #22cc9d55;
  }
}
html.dark {
  --theme: #9bfdcc;
  --background: #111111;
  --mainfont-color: #dddddd;
  --secondary-btn-bg: #222222;
  --darker-popup-color: #444444;
  --theme-lighter: #22cc9d20;
  --theme-light: #22cc9da0;
  --menu-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
  --neumo-shadow: none;
  --popup-color: #333333;
  --tooltip-color: #eeeeee;
  --tooltip-font-color: var(--background);
  --menu-hover: #444444;
  --btn-neumo-shadow: 0 2px 40px -4px #22cc9d55;
  --input-box: #222222;
  --input-box-hover: #333333;
  --box-color: #444444;
  --svg-grey: brightness(0) saturate(100%) invert(98%) sepia(1%) saturate(0%)
    hue-rotate(165deg) brightness(94%) contrast(88%);
  --svg-black: brightness(100%) saturate(0);
  --svg-contrast: brightness(0) saturate(100%);
  --svg-white: brightness(0) saturate(100%);
  --svg-grey-inverse: brightness(0) saturate(100%) invert(20%) sepia(6%)
    saturate(0%) hue-rotate(143deg) brightness(97%) contrast(99%);
  --svg-font-contrast: invert(25%) sepia(19%) saturate(0%) hue-rotate(182deg)
    brightness(82%) contrast(103%);
  --svg-font: invert(100%) sepia(0%) saturate(5486%) hue-rotate(299deg)
    brightness(121%) contrast(73%);
  --svg-theme: brightness(0) saturate(100%) invert(56%) sepia(100%)
    saturate(366%) hue-rotate(113deg) brightness(99%) contrast(81%);
  --svg-light-grey-inverse: brightness(0) saturate(100%) invert(56%) sepia(0%)
    saturate(1117%) hue-rotate(175deg) brightness(111%) contrast(83%);
  --backdrop-bg: #ffffff44;
  ::placeholder {
    color: #888888;
  }
  ::selection {
    background: #22cc9d35;
  }
}
body {
  color: var(--mainfont-color);
  background-color: var(--background);
  font-family: var(--mainfont);
  margin: 0;
}
section {
  max-width: 1024px;
  padding: 1rem;
  margin: auto;
  margin-bottom: 8rem;
  width: 100%;
  text-align: center;
  .sectionHeading {
    text-align: center;
  }
  h2.sectionHeading {
    padding: 1rem;
    display: inline-block;
    border-radius: 1rem;
    background-color: var(--box-color);
  }
  &:nth-last-child(2) {
    margin-bottom: 2rem;
  }
  @media (max-width: t.$mobile-width) {
    padding: 0.7rem;
    .sectionHeading {
      font-size: 1.3rem;
    }
    h2.sectionHeading {
      padding: 0.5rem 1rem;
      border-radius: 0.8rem;
    }
    margin-bottom: 5rem;
  }
}
a {
  text-decoration: inherit;
  color: inherit;
}
section.footer {
  margin-bottom: 8rem;
}
