@use '../../styles/theme' as t;

.menu {
  background-color: var(--menu-bg);
  box-shadow: var(--menu-shadow);
  position: absolute;
  right: 2rem;
  max-width: 90vw;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  z-index: 999;

  .menuIcons {
    display: flex;
    justify-content: right;
  }
  .menuName {
    h4,
    h3,
    p {
      font-weight: 400;
      margin: 0;
    }
    p {
      font-size: 0.7rem;
    }
  }
  .buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .menuOptions {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        .link {
          display: grid;
          grid-template-columns: 1fr 3fr;
          margin: 0.5rem;
          cursor: pointer;
          padding: 0.4rem;
          text-align: left;
          grid-gap: 0.5rem;
          // align-items: center;
          border-radius: 0.5rem;
          transition: background-color 0.2s ease-in-out;
          @media (hover: hover) {
            &:hover {
              background-color: var(--tooltip-bg);
              color: var(--background);
            }
          }
        }
        .active {
          .link {
            background-color: var(--primary);
            color: var(--background);
            &:hover {
              background-color: var(--tooltip-bg);
              color: var(--background);
            }
          }
        }
      }
    }
  }
  .icon {
    text-align: center;
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    border-radius: 6px;
  }
  @media (max-width: t.$tab-width) {
    position: fixed;
  }
}
.menuBack {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 998;
}
